a.graylink {
    color: white;
}

.linenum {
    font-size: 8px;
}

.shortline {
    font-size: 12px;
}

.sline {
    background-color: #ffffcc;
    padding-top: 2px;
    padding-bottom: 2px;
}

.nline {
    background-color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
}

.hline {
    background-color: #ffffcc;
    padding-top: 2px;
    padding-bottom: 2px;
}

.close_link {
    float: right;
    color: white;
    text-decoration: none;
}

#ohms-headerimg {
    float: left;
    width: 77px;
    padding-left: 30px;
}

#ohms-header h1,
#ohms-headervid h1,
#ohms-header h2,
#ohms-headervid h2 {
	text-align: center;
	color: white;
	font-size:80% !important;
}


#ohms-main p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
}

#line_0 {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

#transcript-panel p.first-p, 
#transcript-panel-alt p.first-p {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

#transcript-panel p.line-p, 
#transcript-panel-alt p.line-p {
    margin-left: 50px;
    margin-right: 50px;
}

#transcript-panel .speaker, 
#transcript-panel-alt .speaker {
    font-weight: bold;
    display: inline;
}

#transcript-panel a, 
#transcript-panel-alt a {
    color: #000000;
}

.footnoteLink {
    color: #0000ff !important;
}

#index-panel .speaker, 
#index-panel-alt .speaker {
    font-weight: bold;
    display: inline;
}

#index-panel a, 
#index-panel-alt a {
    color: #000000;
}

#index-panel .jumpLink, 
#index-panel-alt .jumpLink {
    position: absolute;
    left: 50px;
    font-size: 10px;
    color: #0000ff;
    text-decoration: none;
}

#index-panel p.first-p, 
#index-panel-alt p.first-p {
    margin-top: 0px;
}

#searchbox-panel .speaker {
    font-weight: bold;
    display: block;
}

#searchbox-panel p {
    padding-left: 2em;
}

#searchbox-panel.youtube {
    margin-top: -226px;
}

.highlight {
    color: #ff0000;
    font-weight: bold;
}

#audio-panel a {
    font-size: 9pt;
}

#subjectPlayer {
    display: block;
    height: 30px;
    width: 500px;
    background-color: #3c3c3c;
}

.video-spacer {
    width: 1px;
    height: 250px;
    float: right;
}

.video-spacer-kaltura {
    width: 1px;
    height: 0px;
    float: right;
}

.round-button {
    margin-top: 7px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: linear;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #dfdfdf) color-stop(0.05, #ededed)));
    background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.round-button:hover {
    background-color: linear;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #ededed) color-stop(0.05, #dfdfdf)));
    background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}

.round-button .round-button:active {
    position: relative;
    top: 1px;
}

.search-button {
    margin-top: 7px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: linear;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #dfdfdf) color-stop(0.05, #ededed)));
    background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #777777;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.search-button:hover {
    background-color: linear;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #ededed) color-stop(0.05, #dfdfdf)));
    background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}

.search-button .search-button:active {
    position: relative;
    top: 1px;
}

.searchclear-button {
    margin-top: 7px;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background-color: linear;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #dfdfdf) color-stop(0.05, #ededed)));
    background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #ededed) color-stop(1, #dfdfdf));
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border: 1px solid #dcdcdc;
    display: none;
    color: #777777;
    font-family: arial;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #ffffff;
}

.searchclear-button:hover {
    background-color: linear;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(left bottom, left top), color-stop(color-stop(1, #ededed) color-stop(0.05, #dfdfdf)));
    background-image: -webkit-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -moz-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -ms-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: -o-linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    background-image: linear-gradient(top, left top left bottom, color-stop(0.05, #dfdfdf) color-stop(1, #ededed));
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color: #dfdfdf;
}

.searchclear-button .searchclear-button:active {
    position: relative;
    top: 1px;
}

#search-results ol {
    text-align: left;
}

#search-results ul {
    list-style-type: none;
}

.search-result {
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    padding-top: 2px;
    padding-bottom: 2px;
}

.search-result:hover,
.search-result:active {
    background-color: #ffffcc;
    padding-top: 2px;
    padding-bottom: 2px;
}

.selected-result {
    background-color: #ffffcc;
    padding-top: 2px;
    padding-bottom: 2px;
}

.error-msg {
    background-color: #ffffcc;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ff0000;
    font-weight: bold;
    font-size: 14px;
}

#search-transcript {
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

#search-index {
    margin-left: 10px;
}

.kw-empty {
    color: lightgrey;
}

.kw-entry {
    color: black;
}
div.point {
    line-height: 1.5em;
}

#lnkShowMeta {
    color: #aaaaaa !important;
    font-weight: normal;
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10pt !important;
}

.ui-accordion-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#rightsStatement {
    display: none;
}

#usageStatement {
    display: none;
}

.indexJumpLink {
    float: left;
}

.indexSegmentLink {
    float: right;
}

.segmentLink {
    border: #000000 1px solid;
    padding: 5px;
    display: none;
}

.segmentLink input {
    width: 99%;
}

.centered {
	margin: auto;
	width: 602px;
}

#youtubePlayer {
}

#kaltura_player_embed {
	width: 500px;
	height: 279px;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}

#ohms-header {
	width: 82%;
	height: 200px;
	margin: 0 auto;
	border-bottom: 5px solid #337ab7;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	background: #3c3c3c;
	padding-top: 10px;
}

#ohms-headervid {
	width: 82%;
	height: auto;
	min-height: 215px;
	margin: 0 auto;
	border-bottom: 5px solid #337ab7;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	background: #3c3c3c;
	padding-top: 10px;
	display: inline-block;
	padding-bottom: 12px;
}

#audio-panel {
	width: 100%;
	height: 100%;
	/*padding-top: 10px;*/
	padding-bottom: 10px;
	text-align: center;
	margin: 0px;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 15px;
	background-color: #3c3c3c;
}

#holder-panel {
	width: 325px;
	height: 550px;
	position: relative;
	float: left;
	overflow: auto;
	outline: 0;
	margin: auto;
	padding-left: 80px;
	padding-right: 20px;
	background: #ffffff;
	text-align: left;
}


.center {
    width: 100% !important;
}

#ohms-main {
	width: 82%;
	height: 550px;
	margin: auto;
	border: 1px solid #c2c2c2;
	border-width: 0 1px;
	background: #ffffff;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

#content-panel {
	position: absolute;
	width: 510px;	
    height: 548px;
	overflow: auto;
	border: 1px solid #dcdcdc;
	margin: auto;
	background: #ffffff;
	text-align: left;
	box-sizing: border-box;
}

#transcript-panel {
	display: none;
}

#searchbox-panel {
	padding-top: 10px;
	height: 550px;
	position: absolute;
	left: 620px;
}

#search-results {
	overflow-y: auto;
    height: 65%;
	width: 100%;
}

.jumpLink {
	position: absolute;
	left: 1px;
	font-size: 10px;
	color: #0000ff;
	text-decoration: none;
	font-weight: bold;
}
